@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "lato",sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollba{
  display: none;
}

.hide_scrollbar::-webkit-scrollbar{
  display: none;
}